@page
@model DifferentLearn.Web.Pages.Admin.Roles.CreateRoleModel
@{
    ViewData["Title"] = "ایجاد نقش";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">افزودن نقش جدید</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/admin">خانه</a></li>
                    <li class="breadcrumb-item active">ایجاد نقش جدید</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<form role="form" method="post">
    <div class="row">

        <div style="margin:0 10px 0 0;" class="col-md-8">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">اطلاعات نقش</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->

                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">عنوان نقش</label>
                        <input asp-for="Role.RoleTitle" type="text" class="form-control" id="exampleInputEmail1" placeholder="عنوان نقش را وارد کنید">
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-success">افزودن نقش</button>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">دسترسی های نقش</h3>
                </div>


                <div class="card-body">

                    <div class="form-group">
                    </div>

                </div>


            </div>
        </div>

    </div>
</form>