<div class="error-area ptb-50">
    <div class="container">
        <img src="/assets/images/404-img.png" alt="Images">
        <h2>خطای 404: صفحه یافت نشد</h2>
        <p>صفحه ای که به دنبال آن هستید ممکن است در صورت تغییر نام حذف شده باشد یا به طور موقت در دسترس نباشد.</p>
        <a href="/home" class="btn default-btn">بازگشت به صفحه اصلی</a>
    </div>
</div>