@model Tuple<List<DifferentLearn.Core.DTOs.Course.ShowCourseListViewItem>,int>
@{
    ViewData["Title"] = "خانه";
}
@section BannerDetail{

    <div class="page-header-area bg-1">
        <div class="container">
            <div class="page-header-content">
                <h3 style="color:#ccc">از امروز شروع به یادگیری کنید</h3>
                <h1>پلتفرم یادگیری آنلاین</h1>
                <p style="color:#ccc">آموزش آنلاین با متفاوت ترین سبک های روز دنیا</p>
                <div class="btn-area">
                    <a href="courses.html" class="default-btn btn mr-20">دوره ها را پیدا کنید</a>
                    <a href="contact-us.html" class="default-btn btn btn2">تماس با ما</a>
                </div>
            </div>
        </div>
    </div>
}
<!--Start category area-->
<cache expires-after="TimeSpan.FromMinutes(5)">
    @await Component.InvokeAsync("CourseGroupComponent")
</cache>

<!--End category area-->
<!--Start Courses area-->
<div class="courses-area ptb-50">
    <div class="container">
        <div class="section-title">
            <span class="sub-title"><img src="/assets/images/edu-icon.png" alt="logo"> دوره های آموزشی</span>
            <h2>دوره های محبوب را کاوش کنید</h2>
        </div>
        <div class="courses-slider owl-carousel owl-theme">

      @foreach (var item in Model.Item1)
            {
                <partial name="_BoxCourse" model="@item" />
            }
            
        </div>
        <div class="text-center">
            <a href="/course" class="default-btn btn">مشاهده همه دوره ها</a>
        </div>
    </div>
</div>
<!--End Courses area-->
<!--Start Counter area-->
<div class="counter-area bg-2E0769 pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="counter-card">
                    <div class="counter-content">
                        <div class="icon">
                            <i class="flaticon-businessman"></i>
                        </div>
                        <h1>
                            <span class="odometer" data-count="00111">00</span>
                        </h1>
                        <p>دانش آموزانی که ثبت نام کردند</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="counter-card">
                    <div class="counter-content">
                        <div class="icon">
                            <i class="flaticon-book-1"></i>
                        </div>
                        <h1>
                            <span class="odometer" data-count="00111">00</span>
                        </h1>
                        <p>مجموع دوره ها</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="counter-card">
                    <div class="counter-content">
                        <div class="icon">
                            <i class="flaticon-light-bulb"></i>
                        </div>
                        <h1>
                            <span class="odometer" data-count="00111"></span>
                        </h1>
                        <p>تعداد مدرسین</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="shape one" src="/assets/images/shape/shape-12.png" alt="Imag">
    <img class="shape two" src="/assets/images/shape/shape-13.png" alt="Imag">
    <img class="shape three" src="/assets/images/shape/shape-14.png" alt="Imag">
</div>
<!--End Counter area-->
<!--Start Instructor area-->
<div class="instructor-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title"><img src="/assets/images/edu-icon.png" alt="logo"> مربی</span>
            <h2>مدرس دوره ها</h2>
        </div>
        <div class="instructor-slider owl-carousel owl-theme">
            <div class="single-instructor-card mlr-5" data-aos="fade-up"
                 data-aos-duration="1300">
                <div class="instructor-img">
                    <img src="/assets/images/instructor/instructor-1.jpg" alt="Image">
                    <div class="icon">
                        <ul>
                            <li>
                                <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li>
                                <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank"><i class="ri-facebook-fill"></i></a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank"><i class="ri-twitter-fill"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="instructor-content">
                    <h3>امیر محمدی</h3>
                    <p>مدرس اقتصاد</p>
                </div>
            </div>
            <div class="single-instructor-card mlr-5" data-aos="fade-up"
                 data-aos-duration="1400">
                <div class="instructor-img">
                    <img src="/assets/images/instructor/instructor-2.jpg" alt="Image">
                    <div class="icon">
                        <ul>
                            <li>
                                <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li>
                                <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank"><i class="ri-facebook-fill"></i></a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank"><i class="ri-twitter-fill"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="instructor-content">
                    <h3>زهرا لطفی</h3>
                    <p>مدرس کامپیوتر</p>
                </div>
            </div>
            <div class="single-instructor-card mlr-5" data-aos="fade-up"
                 data-aos-duration="1500">
                <div class="instructor-img">
                    <img src="/assets/images/instructor/instructor-3.jpg" alt="Image">
                    <div class="icon">
                        <ul>
                            <li>
                                <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li>
                                <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank"><i class="ri-facebook-fill"></i></a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank"><i class="ri-twitter-fill"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="instructor-content">
                    <h3>رضا حسینی</h3>
                    <p>مدرس زبان انگلیسی</p>
                </div>
            </div>
            <div class="single-instructor-card mlr-5" data-aos="fade-up"
                 data-aos-duration="1600">
                <div class="instructor-img">
                    <img src="/assets/images/instructor/instructor-1.jpg" alt="Image">
                    <div class="icon">
                        <ul>
                            <li>
                                <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li>
                                <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank"><i class="ri-facebook-fill"></i></a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank"><i class="ri-twitter-fill"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="instructor-content">
                    <h3>بهمن رستمی</h3>
                    <p>مدرس اقتصاد</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Instructor area-->