@page "{id}"
@using DifferentLearn.Data.Entites.User;
@model DifferentLearn.Web.Pages.Admin.Users.EditUserModel
@{
    ViewData["Title"] = "ایجاد کاربر جدید";
    List<Role> Roles = ViewData["Roles"] as List<Role>;
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">ویرایش کاربر جدید</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/admin">خانه</a></li>
                    <li class="breadcrumb-item active">ویرایش کاربر جدید</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<form role="form" enctype="multipart/form-data" method="post">
    <div class="row">
        <input type="hidden" asp-for="EditUserFromAdminViewModel.UserId" />
        <input type="hidden" asp-for="EditUserFromAdminViewModel.AvatarName" />
        <div style="margin:0 10px 0 0;" class="col-md-8">
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">اطلاعات کاربر</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->

                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1"> نام کاربری : </label>
                        <label>
                            @Model.EditUserFromAdminViewModel.UserName
                        </label>
                        <input type="hidden" asp-for="EditUserFromAdminViewModel.UserName" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">ایمیل</label>
                        <input asp-for="EditUserFromAdminViewModel.Email" type="email" class="form-control" id="exampleInputEmail1" placeholder="ایمیل را وارد کنید">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">کلمه عبور</label>
                        <input asp-for="EditUserFromAdminViewModel.Password" type="text" class="form-control" id="exampleInputPassword1" placeholder="پسورد را وارد کنید">
                        <p class="text text-danger">
                            در صورت وارد کردن کلمه عبور، کلمه عبور کاربر تغییر خواهد کرد.
                        </p>

                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-warning">ویرایش</button>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">عکس پروفایل</h3>
                </div>


                <div class="card-body">
                    <img id="blah" class="img-thumbnail" src="/assets/images/UserAvatar/@Model.EditUserFromAdminViewModel.AvatarName" />
                    <div class="form-group">
                        <label>انتخاب فایل</label>
                        <input id="imgInp" type="file" asp-for="EditUserFromAdminViewModel.UserAvatar" />


                    </div>

                </div>


            </div>
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">نقش های کاربر</h3>
                </div>


                <div class="card-body">

                    <div class="form-group">
                        @foreach (var item in Roles)
                        {
                            <div class="custom-checkbox">
                                <label>
                                    <input name="SelectedRoles" value="@item.RoleId" type="checkbox" @((Model.EditUserFromAdminViewModel.UserRoles.Any(r => r == item.RoleId)) ? "checked" : "")>
                                    @item.RoleTitle
                                </label>
                            </div>

                        }

                    </div>

                </div>


            </div>
        </div>

    </div>
</form>
@section Scripts{
    <script>
        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
                blah.src = URL.createObjectURL(file)
            }
        }
    </script>
}