@model DifferentLearn.Core.DTOs.ForgotPasswordviewModel

@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li style="margin:5px;"><a href="/">خانه</a></li>
        <li style="margin:5px;">/</li>
        <li style="margin:5px;"><a href="forgotpassword">بازیابی کلمه عبور</a></li>
    </ul>
</nav>
<div class="account-area ">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="login">
                    @if (ViewBag.IsSuccess == true)
                    {
                        <div class="alert alert-success">
                            <p>ایمیل بازیابی کلمه عبور برای شما ارسال شد.</p>
                        </div>
                    }
                    <h3>بازیابی کلمه عبور</h3>
                    <form asp-action="forgotpassword" method="post">
                        <div class="form-group">
                            <input asp-for="Email" type="email" id="email" class="form-control" placeholder="آدرس ایمیل">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <button type="submit" class="default-btn btn">تایید و ارسال</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>