@model DifferentLearn.Core.DTOs.LoginViewModel

@{
    ViewData["Title"] = "ورود به سایت";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li style="margin:5px;"><a href="/">خانه</a></li>
        <li style="margin:5px;">/</li>
        <li style="margin:5px;"><a href="login">ورود به سایت</a></li>
    </ul>
</nav>
<div class="account-area ">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="login">
                    @if (ViewBag.IsSuccess == true)
                    {
                        <div class="alert alert-success">
                            <p>ورود با موفقیت انجام شد</p>
                        </div>
                        <script>
                            var delay = 3000;
                            setTimeout(function () {
                                window.location = "https://localhost:44361/userpanel";
                            }, delay);
                        </script>
                    }
                    @if (ViewBag.EditProfile == true)
                    {
                        <div class="alert alert-warning">
                            بدلیل ویرایش پروفایل و بارگزاری مجدد اطلاعات مجددا وارد شوید.
                        </div>
                    }
                    <h3>ورود</h3>
                    <form asp-action="login" method="post">
                        <div class="form-group">
                            <input asp-for="Email" type="email" id="email" class="form-control" placeholder="آدرس ایمیل">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" type="password" id="password" class="form-control" placeholder="کلمه عبور">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div class="form-check">
                            <input asp-for="RememberMe" class="form-check-input-2" type="checkbox">
                            <label>مرا به خاطر بسپار</label>
                        </div>
                        <button type="submit" class="default-btn btn">ورود</button>
                        <div class="link-info"><a href="register">عضو نیستم!!!</a></div>
                        <div class="link-info"><a href="ForgotPassword">رمز عبور خود را فراموش کرده اید؟</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>