@using DifferentLearn.Core.Convertors;
@using DifferentLearn.Core.DTOs;
@model DifferentLearn.Core.DTOs.ChargeWalletViewModel
@{
    ViewData["Title"] = "کیف پول شما";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li style="margin:5px;"><a href="/">خانه</a></li>
        <li style="margin:5px;">/</li>
        <li style="margin:5px;"><a href="/userpanel/wallet">کیف پول</a></li>
    </ul>
</nav>


<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_Sidebar" />
                <div class="col-md-9 col-sm-8 col-xs-12">

                    <section class="user-account-content">
                        <header><h1> کیف پول </h1></header>
                        <div class="inner form-layer">
                            <form asp-action="Index" method="post">

                                <div class="row">
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="username"><i class="zmdi zmdi-balance-wallet"></i></span>
                                            <input asp-for="Amount" type="number" class="form-control" placeholder="مبلغ به ریال">
                                        </div>
                                    </div>
                                    <div class="text-danger" asp-validation-summary="All"></div>
                                    <div style="margin:5px 0px;" class="col-md-7 col-sm-8 col-xs-12">
                                        <button class="btn btn-success btn-outline-dark"> شارژ کیف پول </button>
                                    </div>
                                </div>

                            </form>
                            <hr />
                            @{
                                List<WalletViewModel> list = ViewBag.ListWallet as List<WalletViewModel>;
                            }
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>مبلغ</th>
                                        <th>تاریخ</th>
                                        <th>نوع تراکنش</th>
                                        <th>شرح</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in list)
                                    {
                                        <tr>
                                            <td class="text-success">@item.Amount.ToString("#,0 ریال")</td>
                                            <td>@item.DateTime.ToShamsi()</td>
                                            <td>
                                                @if (item.Type == 1)
                                                {
                                                <p class="text-success">واریز</p>
                                                }
                                                else
                                                {
                                                <p class="text-danger">برداشت</p>
                                                }
                                            </td>
                                            <td>@item.Description</td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</main>

