@using DifferentLearn.Data.Entites.Course;
@model IEnumerable<CourseGroup>
<ul>
    <li class="nav-item">
        <a href="#" class="nav-link dropdown-toggle">
            دسته بندی دوره ها
        </a>
        <ul class="dropdown-menu">
            @foreach (var item in Model.Where(m => m.ParentId == null))
            {
                <li class="nav-item">
                    <a href="/course?selectedGroups=@item.GroupId" class="nav-link">@item.GroupTitle</a>
                    @if (Model.Any(g => g.ParentId == item.GroupId))
                    {
                        <ul class="dropdown-menu">
                            @foreach (var sub in Model.Where(g => g.ParentId == item.GroupId))
                            {
                                <li class="nav-item">
                                    <a href="/course?selectedGroups=@sub.GroupId" class="nav-link">@sub.GroupTitle</a>
                                </li>
                            }
                        </ul>
                    }
                </li>

            }
        </ul>
    </li>

</ul>
