@using DifferentLearn.Core.Convertors;
@using DifferentLearn.Data.Entites.Order;
@model IEnumerable<Order>
@{
    ViewData["Title"] = "فاکتور ها";
}


<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li style="margin:5px;"><a href="/">خانه</a></li>
        <li style="margin:5px;">/</li>
        <li style="margin:5px;"><a href="/userpanel/order">فاکتور ها</a></li>
    </ul>
</nav>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_Sidebar" />
                <div class="col-md-8 col-sm-8 col-xs-12">

                    <section class="user-account-content">
                        <header><h1> فاکتور های شما </h1></header>
                       
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>شماره فاکتور</th>
                                    <th>تاریخ</th>
                                    <th>جمع</th>
                                    <th>پرداخت</th>
                                    <th>دستورات</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.OrderId</td>
                                        <td>@item.CreateDate.ToShamsi()</td>
                                        <td>@item.OrderSum</td>
                                        <td>
                                            @if (item.IsFinaly)
                                            {
                                                <p class="text text-success">
                                                    <i>انجام شد</i>
                                                </p>
                                            }
                                            else
                                            {

                                                <p class="text text-danger">
                                                    <i>انجام نشد</i>
                                                </p>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-info" href="/userpanel/order/showorder/@item.OrderId">نمایش</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
