<div class="footer-area bg-2E0769">
    <div class="container">
        <div class="footer pt-100  pb-70">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="logo-area">
                        <a href="index.html"><img src="/assets/images/logo-2.png" alt="Logo"></a>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
                                </li>
                                <li>
                                    <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"><i class="ri-facebook-fill"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" target="_blank"><i class="ri-twitter-fill"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>دسته بندی ها</h3>
                        <ul>
                            <li><a href="courses.html"><i class="ri-arrow-drop-right-fill"></i>کسب و کار</a></li>
                            <li><a href="courses.html"><i class="ri-arrow-drop-right-fill"></i>طرح</a></li>
                            <li><a href="courses.html"><i class="ri-arrow-drop-right-fill"></i>توسعه</a></li>
                            <li><a href="courses.html"><i class="ri-arrow-drop-right-fill"></i>بازار یابی</a></li>
                            <li><a href="courses.html"><i class="ri-arrow-drop-right-fill"></i>عکاسی</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>کاوش کنید</h3>
                        <ul>
                            <li><a href="about.html"><i class="ri-arrow-drop-right-fill"></i>درباره ما</a></li>
                            <li><a href="courses.html"><i class="ri-arrow-drop-right-fill"></i>دوره های آموزشی</a></li>
                            <li><a href="events.html"><i class="ri-arrow-drop-right-fill"></i>رویدادها </a></li>
                            <li>
                                <a href="team.html">
                                    <i class="ri-arrow-drop-right-fill"></i>معلم شدن
                                </a>
                            </li>
                            <li><a href="terms-conditions.html"><i class="ri-arrow-drop-right-fill"></i>شرایط و ضوابط</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="contact-info">
                        <h3>اطلاعات تماس</h3>
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="ri-phone-line"></i>
                                </div>
                                <a href="tel:8002162020">02122334455</a>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="ri-mail-volume-line"></i>
                                </div>
                                <a href="#">
                                    <span>info@domain.com</span>
                                </a>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="ri-map-pin-line"></i>
                                </div>
                                <p>ایران،تهران</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>