 <!-- Start Navbar Area -->
<div class="navbar-area nav-bg-1">
    <div class="mobile-responsive-nav">
        <div class="container">
            <div class="mobile-responsive-menu">
                <div class="logo">
                    <a href="index.html">
                        <img src="/assets/images/logo.png" class="main-logo" alt="logo">
                        <img src="/assets/images/1.png" class="main-logo" alt="logo">
                        <img src="/assets/images/logo-2.png" class="white-logo" alt="logo">
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="desktop-nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="/assets/images/logo.png" class="main-logo" alt="logo">
                    <img src="/assets/images/1.png" class="main-logo" alt="logo">
                    <img src="/assets/images/logo-2.png" class="white-logo" alt="logo">
                </a>
                <div class="others-options">
                    <ul>
                        <li>
                            <form class="search-form">
                                <input type="text" class="form-control" placeholder="جستجو...">
                                <button type="submit" class="src-btn">
                                    <i class="ri-search-line"></i>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link active">خانه</a>
                        </li>
                        <li class="nav-item">
                            <a href="about.html" class="nav-link">درباره ما</a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">
                                دوره های آموزشی
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="courses.html" class="nav-link">دوره های آموزشی</a>
                                </li>
                                <li class="nav-item">
                                    <a href="courses-details.html" class="nav-link">جزئیات دوره ها</a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">
                                صفحات
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="team.html" class="nav-link">تیم</a>
                                </li>
                                <li class="nav-item">
                                    <a href="team-details.html" class="nav-link">جزئیات تیم</a>
                                </li>
                                <li class="nav-item">
                                    <a href="testimonial.html" class="nav-link">نظرات کاربران</a>
                                </li>
                                <li class="nav-item">
                                    <a href="faq.html" class="nav-link">سوالات متداول</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pricing.html" class="nav-link">تعرفه</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                        رویدادها
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="events.html" class="nav-link">رویدادها </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="events-details.html" class="nav-link">جزئیات رویدادها</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                        فروشگاه
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="shop.html" class="nav-link"> فروشگاه</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="single-product.html" class="nav-link">محصولات تکی</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="cart.html" class="nav-link">سبد خرید</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="checkout.html" class="nav-link">تسویه حساب</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="account.html" class="nav-link">حساب من</a>
                                </li>
                                <li class="nav-item">
                                    <a href="privacy-policy.html" class="nav-link">سیاست حفظ حریم خصوصی</a>
                                </li>

                                <li class="nav-item">
                                    <a href="terms-conditions.html" class="nav-link">شرایط و ضوابط</a>
                                </li>

                                <li class="nav-item">
                                    <a href="coming-soon.html" class="nav-link">به زودی</a>
                                </li>

                                <li class="nav-item">
                                    <a href="404.html" class="nav-link">404 صفحه</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">
                                وبلاگ
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="blog.html" class="nav-link">وبلاگ</a>
                                </li>

                                <li class="nav-item">
                                    <a href="blog-details.html" class="nav-link">جزئیات وبلاگ</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="contact-us.html" class="nav-link">تماس با ما</a>
                        </li>
                    </ul>

                    <div class="others-options">
                        <ul>
                           @*  <li>
                                <div class="cart">
                                    <a href="cart.html"><i class="ri-shopping-bag-line"></i></a>
                                    <span>0</span>
                                </div>
                            </li> *@
                          @if (User.Identity.IsAuthenticated)
                            {
                                <a href="#" class="default-btn">داشبورد</a>
                                <a href="Logout" class="default-btn">خروج</a>
                            }
                            else
                            {
                                <li>
                                    <a href="login" class="default-btn">ورود</a>
                                    <a href="register" class="default-btn">ثبت نام</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="others-option-for-responsive">
        <div class="container">
            <div style="margin: 0 15px;" class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>

            <div class="container">
                <div class="option-inner">
                    <div class="others-options justify-content-center d-flex align-items-center">
                        <ul>
                            <li>
                                <form class="search-form">
                                    <input type="text" class="form-control" placeholder="جستجو...">
                                    <button type="submit" class="src-btn">
                                        <i class="ri-search-line"></i>
                                    </button>
                                </form>
                            </li>
                           @*  <li>
                                <div class="cart">
                                    <a href="cart.html"><i class="ri-shopping-bag-line"></i></a>
                                    <span>0</span>
                                </div>
                            </li> *@
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="#" class="default-btn">داشبورد</a>
                                <a href="Logout" class="default-btn">خروج</a>
                            }
                            else
                            {
                                <li>
                                    <a href="login" class="default-btn">ورود</a>
                                    <a href="register" class="default-btn">ثبت نام</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Navbar Area -->
