 <!-- Start Navbar Area -->
<div class="navbar-area nav-bg-1">
    <div class="mobile-responsive-nav">
        <div class="container">
            <div class="mobile-responsive-menu">
                <div class="logo">
                    <a href="/">
                        <img src="/assets/images/logo.png" class="main-logo" alt="logo">
                        <img src="/assets/images/1.png" class="main-logo" alt="logo">
                        <img src="/assets/images/logo-2.png" class="white-logo" alt="logo">
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="desktop-nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" " href="/">

                    <img src="/assets/images/logo.png" class="main-logo" alt="logo">
                    <img src="/assets/images/1.png" class="main-logo" alt="logo">
                    <img src="/assets/images/logo-2.png" class="white-logo" alt="logo">
                </a>
                <div class="others-options">
                    <ul>
                        <li>
                            <form action="/Course" method="get" class="search-form">
                                <input type="text" class="form-control" name="filter" placeholder="جستجو...">
                                <button type="submit" class="src-btn">
                                    <i class="ri-search-line"></i>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>


                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link active">خانه</a>
                        </li>


                        <li class="nav-item">
                            <a href="/course" class="nav-link">
                                دوره های آموزشی
                            </a>
                            @*
                            <ul class="dropdown-menu">
                            <li class="nav-item">
                            <a href="courses.html" class="nav-link">دوره های آموزشی</a>
                            </li>
                            <li class="nav-item">
                            <a href="courses-details.html" class="nav-link">جزئیات دوره ها</a>
                            </li>
                            </ul> *@
                        </li>


                        @await Component.InvokeAsync("CourseGroupForNavComponent")



                        <li class="nav-item">
                            <a href="about.html" class="nav-link">درباره ما</a>
                        </li>


                        <li class="nav-item">
                            <a href="contact-us.html" class="nav-link">تماس با ما</a>
                        </li>
                    </ul>

                    <div class="others-options">
                        <ul>
                            @*  <li>
                            <div class="cart">
                            <a href="cart.html"><i class="ri-shopping-bag-line"></i></a>
                            <span>0</span>
                            </div>
                            </li> *@
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="/Userpanel" class="default-btn">داشبورد</a>
                                <a href="/Logout" class="default-btn">خروج</a>
                            }
                            else
                            {
                                <li>
                                    <a href="/login" class="default-btn">ورود</a>
                                    <a href="/register" class="default-btn">ثبت نام</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="others-option-for-responsive">
        <div class="container">
            <div style="margin: 0 15px;" class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>

            <div class="container">
                <div class="option-inner">
                    <div class="others-options justify-content-center d-flex align-items-center">
                        <ul>
                            <li>
                                <form action="/Course" method="get" class="search-form">
                                    <input type="text" name="filter" class="form-control" placeholder="جستجو...">
                                    <button type="submit" class="src-btn">
                                        <i class="ri-search-line"></i>
                                    </button>
                                </form>
                            </li>
                            @*  <li>
                            <div class="cart">
                            <a href="cart.html"><i class="ri-shopping-bag-line"></i></a>
                            <span>0</span>
                            </div>
                            </li> *@
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="/userpanel" class="default-btn">داشبورد</a>
                                <a href="/Logout" class="default-btn">خروج</a>
                            }
                            else
                            {
                                <li>
                                    <a href="/login" class="default-btn">ورود</a>
                                    <a href="/register" class="default-btn">ثبت نام</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Navbar Area -->
