@using DifferentLearn.Core.Convertors;
@model DifferentLearn.Core.DTOs.Course.ShowCourseListViewItem

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 term-col" style="max-width:400px; max-height:400px;" >
    <div class="courses-single-card mlr-5">
        <div class="course-img">
            <a href="courses-details.html"><img src="/assets/images/courseavatar/image/@Model.ImageName"></a>
            <div class="courses-prices">
                @if (Model.Price == 0)
                {
                    <p style="margin-right: 4px;margin-bottom: 0;">رایگان</p>
                }
                else
                {
                    <p style="margin-right: 4px;margin-bottom: 0;">تومان</p>
                    <p> @Model.Price.ToString("#,0") </p>
                }

            </div>
        </div>
        <div class="courses-content">

            <a href="courses-details.html"><h3> @Model.Title </h3></a>
            <div class="time">
                <ul class="d-flex justify-content">
                    <i class="flaticon-calendar"></i>
                    <li>شروع دوره از @Model.StartDate.ToShamsi()</li> &nbsp;&nbsp;
                </ul>
            </div>
        </div>
    </div>
</div>
