.user-account .avatar-layer ul:after, .term-content aside .statistics ul:after,
.term-content aside .share-layer:after, .term-content .term-description ul li:after,
.comment-list .comment-row:after,
.term-categories .switch-field:after {
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
    height: 0;
    line-height: 0
}

.term-content > header,
.term-content aside .statistics,
.term-content aside .teacher-info,
.term-content aside .term-info,
.term-content aside .tags-layer,
.term-content aside .share-layer,
.term-content .term-description,
.term-content .user-comments,
.term-categories .aside-section {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    background-color: #fff
}
.user-account aside > section,
.user-account .avatar-layer {
    border: 3px solid #ecf1f8;
    margin-bottom: 25px;
    background-color: #fff
}

    .user-account .avatar-layer .img-layer {
        margin: 25px auto 0;
        position: relative;
        z-index: 1;
        width: 130px;
        height: 130px;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

        .user-account .avatar-layer .img-layer img {
            width: 130px;
            height: 130px;
            border: 3px solid #ecf1f8;
            z-index: 1;
            position: relative;
        }

        .user-account .avatar-layer .img-layer .change-image {
            width: 100px;
            height: 100px;
            line-height: 100px;
            text-align: center;
            font-size: 27px;
            color: #657d9a;
            background-color: rgba(228,235,245,0.4);
            position: absolute;
            z-index: 2;
            opacity: 0;
        }

        .user-account .avatar-layer .img-layer:hover .change-image {
            opacity: 1;
        }

    .user-account .avatar-layer .detail {
        width: 100%;
        padding: 10px 0 15px;
        text-align: center;
    }

        .user-account .avatar-layer .detail h3 {
            font-size: 14px;
            font-weight: bold;
            word-spacing: -1px;
            line-height: 25px;
            padding-bottom: 3px;
            color: #4b5b74
        }

        .user-account .avatar-layer .detail span {
            font-size: 14px;
            word-spacing: -1px;
            line-height: 25px;
            color: #7389a3;
            display: block;
        }

    .user-account aside > section header {
        padding: 5px 15px;
        border-bottom: 1px solid #ecf1f8
    }

        .user-account aside > section header h3 {
            font-size: 15px;
            line-height: 35px;
        }

    .user-account aside > section .inner {
        padding: 10px 15px
    }

        .user-account aside > section .inner ul li a {
            display: block;
            font-size: 14px;
            line-height: 25px;
            padding: 4px 0;
            color: #222
        }

            .user-account aside > section .inner ul li a:hover {
                color: #0ab6fa
            }

.user-account .user-account-content {
    border: 1px solid #ecf1f8;
    margin-bottom: 25px;
    background-color: #fff;
}

    .user-account .user-account-content > header {
        padding: 5px 15px;
        border-bottom: 1px solid #ecf1f8
    }

        .user-account .user-account-content > header h1 {
            font-size: 15px;
            line-height: 35px;
        }

    .user-account .user-account-content .inner {
        padding: 20px
    }

        .user-account .user-account-content .inner .account-information h3 {
            font-size: 17px;
            margin-bottom: 10px;
            color: #242323
        }

        .user-account .user-account-content .inner .account-information ul li {
            display: block;
            font-size: 14px;
            line-height: 25px;
            padding: 4px 0;
            color: #222
        }

            .user-account .user-account-content .inner .account-information ul li i {
                margin-left: 5px;
                position: relative;
                top: 3px;
                font-size: 16px;
                color: #ccc
            }

.user-account .form-layer {
    padding: 0 20px
}

    .user-account .form-layer .input-group {
        margin-bottom: 15px
    }

    .user-account .form-layer .link {
        padding: 15px 0
    }

        .user-account .form-layer .link a {
            display: block;
            line-height: 30px;
            font-size: 14px;
            color: #1CBDF9
        }

            .user-account .form-layer .link a:hover {
                color: #2C373B
            }

            .user-account .form-layer .link a i {
                font-size: 17px;
                margin-left: 5px;
                position: relative;
                top: 2px
            }

    .user-account .form-layer .checkbox-layer {
        margin-top: 10px
    }

        .user-account .form-layer .checkbox-layer input[type="checkbox"],
        .user-account .form-layer .radio-layer input[type="radio"] {
            position: relative;
            top: 2px;
            margin-left: 5px
        }

        .user-account .form-layer .checkbox-layer label,
        .user-account .form-layer .radio-layer label {
            margin-left: 25px
        }

.term-categories .pagination {
    width: auto;
    margin: 10px auto 40px;
    display: table;
}

    .term-categories .pagination i {
        position: relative;
        top: 2px
    }

.term-categories .top-bar {
    background-color: #fff;
    box-shadow: 0 0 6px #ccc;
    padding: 15px 20px 20px;
    margin-bottom: 25px;
    position: relative;
}

.term-categories > .top-bar > header {
    position: relative;
    height: 45px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb
}

    .term-categories > .top-bar > header h1 {
        font-size: 20px;
        line-height: 25px
    }

        .term-categories > .top-bar > header h1 span {
            color: #2aaf27
        }

    .term-categories > .top-bar > header > span {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 14px;
        color: #333;
        padding: 0 15px;
        border-radius: 30px;
        line-height: 30px;
        background-color: #f2f2f2
    }

.term-categories > .top-bar form {
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid #E8E8E8;
    overflow: hidden;
}

    .term-categories > .top-bar form input {
        position: relative;
        width: 100%;
        height: 40px;
        border: 0;
        padding: 0 18px 0 50px;
        font-size: 14px;
        line-height: 40px
    }

    .term-categories > .top-bar form button {
        background-color: transparent;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
        top: 0;
        border: 0;
        font-size: 22px;
        color: #878787;
        line-height: 45px;
        text-align: right;
    }

.term-categories > .top-bar .select-ddl {
    width: 100%;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    position: relative;
}

    .term-categories > .top-bar .select-ddl select {
        width: 100%;
        padding: 0 15px 0 0;
        font-size: 14px;
        height: 38px;
        line-height: 38px;
        border: 0;
    }

.term-categories .switch-field {
    width: 100%;
    overflow: hidden;
    border: 1px solid #E8E8E8;
}

    .term-categories .switch-field input {
        border: 0 none;
        clip: rect(0px, 0px, 0px, 0px);
        height: 1px;
        overflow: hidden;
        position: absolute;
        width: 1px;
    }

    .term-categories .switch-field label {
        background-color: #fff;
        float: right;
        color: #333;
        display: inline-block;
        font-size: 13px;
        font-weight: normal;
        padding: 5px 10px;
        text-align: center;
        text-shadow: none;
        transition: all 0.1s ease-in-out 0s;
        margin-bottom: 0;
        width: 33.33%;
        height: 38px;
        line-height: 30px
    }

        .term-categories .switch-field label:hover {
            cursor: pointer;
        }

    .term-categories .switch-field input:checked + label {
        background-color: #2aaf27;
        color: #fff
    }

.term-categories .aside-section header h3 {
    font-size: 17px;
    line-height: 22px;
    padding: 15px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px
}

.term-categories .filter-by-price header h3 {
    margin-bottom: 30px
}

.term-categories .filter-by-price .price-range {
    padding: 0 35px 15px
}

.term-categories .filter-by-price .max-price {
    width: auto;
    display: inline-table;
    float: left;
    font-size: 12px;
    line-height: 25px;
    position: relative;
    left: -15px;
    padding-top: 10px
}

.term-categories .filter-by-price .min-price {
    width: auto;
    display: inline-table;
    float: right;
    font-size: 12px;
    line-height: 25px;
    position: relative;
    right: -15px;
    padding-top: 10px
}

.term-categories .filter-by-category ul {
    padding: 0 5px 10px
}

    .term-categories .filter-by-category ul li {
        padding: 5px 15px;
        font-size: 14px;
        line-height: 20px
    }

        .term-categories .filter-by-category ul li input {
            position: relative;
            top: 3px;
            margin-left: 3px
        }


@media screen and (max-width : 991px) {
    .main-menu nav > span {
        display: block;
    }

    .main-menu nav > ul {
        display: none
    }

    .main-menu {
        height: 44px;
    }

        .main-menu nav {
            width: 50px;
            height: 44px
        }

            .main-menu nav > span {
                display: block;
            }

            .main-menu nav > ul {
                position: absolute;
                min-width: 280px;
                white-space: nowrap;
                right: 0;
                top: 44px;
                background-color: #2aaf27;
                border-bottom: 3px solid #0c740a;
                padding: 10px 15px 15px;
                z-index: 1000;
                display: none
            }

                .main-menu nav > ul > li {
                    width: 100%;
                    float: none;
                    padding: 5px 0;
                    position: relative;
                }

                    .main-menu nav > ul > li > a {
                        border-left: 0
                    }

                    .main-menu nav > ul > li:nth-child(1) a {
                        padding-right: 15px
                    }

                    .main-menu nav > ul > li .caret-icon {
                        position: absolute;
                        left: 5px;
                        top: 0;
                        color: #fff;
                        width: 20px;
                        height: 20px;
                        font-size: 22px
                    }

                    .main-menu nav > ul > li ul {
                        position: static;
                    }

                    .main-menu nav > ul > li > ul > li > a {
                        display: block;
                        width: 100%
                    }

    .client-page {
        padding: 50px 0
    }

    .term-categories .switch-field {
        margin-top: 10px
    }

    .term-categories > .top-bar .select-ddl {
        margin-top: 10px
    }
}

@media screen and (max-width : 480px) {
    .landing-layer header h2, .landing-layer header h3 {
        display: none
    }

    .landing-layer header h1 {
        font-size: 21px
    }

    .landing-layer header {
        padding-bottom: 30px
    }

    .term-categories > .top-bar > header > span {
        display: none
    }
}

.terms-items .term-col article {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0 0 6px #ccc;
    background-color: #fff
}

    .terms-items .term-col article .img-layer,
    .terms-items .term-col article .img-layer img {
        width: 100%;
        display: block;
    }

    .terms-items .term-col article h2 a {
        width: 100%;
        display: block;
        font-size: 13px;
        line-height: 40px;
        height: 40px;
        color: #252a2b;
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        .terms-items .term-col article h2 a:hover {
            color: #2aaf27;
        }

    .terms-items .term-col article span {
        color: #2aaf27;
        padding: 10px;
        border-top: 1px solid #ebebeb;
        width: 100%;
        display: block;
    }

    .terms-items .term-col article i {
        color: #ccc;
        font-size: 13px;
        position: absolute;
        left: 10px;
        bottom: 12px;
        font-style: normal;
    }

.terms-items header {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 35px
}

    .terms-items header h2 {
        text-align: center;
        font-size: 21px;
        line-height: 30px;
        color: #252a2b
    }

    .terms-items header a {
        text-align: center;
        font-size: 15px;
        line-height: 30px;
        color: #4b4f4f
    }

        .terms-items header a:hover {
            color: #2aaf27
        }

.terms-items .term-col article {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0 0 6px #ccc;
    background-color: #fff
}

    .terms-items .term-col article .img-layer,
    .terms-items .term-col article .img-layer img {
        width: 100%;
        display: block;
    }

    .terms-items .term-col article h2 a {
        width: 100%;
        display: block;
        font-size: 13px;
        line-height: 40px;
        height: 40px;
        color: #252a2b;
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        .terms-items .term-col article h2 a:hover {
            color: #2aaf27;
        }

    .terms-items .term-col article span {
        color: #2aaf27;
        padding: 10px;
        border-top: 1px solid #ebebeb;
        width: 100%;
        display: block;
    }

    .terms-items .term-col article i {
        color: #ccc;
        font-size: 13px;
        position: absolute;
        left: 10px;
        bottom: 12px;
        font-style: normal;
    }
.term-categories .pagination {
    width: auto;
    margin: 10px auto 40px;
    display: table;
}

    .term-categories .pagination i {
        position: relative;
        top: 2px
    }
.term-content .pagination {
    width: auto;
    margin: 30px auto 10px;
    display: table;
}

    .term-content .pagination i {
        position: relative;
        top: 2px
    }