.user-account .avatar-layer ul:after, .term-content aside .statistics ul:after,
.term-content aside .share-layer:after, .term-content .term-description ul li:after,
.comment-list .comment-row:after,
.term-categories .switch-field:after {
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
    height: 0;
    line-height: 0
}

.user-account aside > section,
.user-account .avatar-layer {
    border: 3px solid #ecf1f8;
    margin-bottom: 25px;
    background-color: #fff
}

    .user-account .avatar-layer .img-layer {
        margin: 25px auto 0;
        position: relative;
        z-index: 1;
        width: 130px;
        height: 130px;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

        .user-account .avatar-layer .img-layer img {
            width: 130px;
            height: 130px;
            border: 3px solid #ecf1f8;
            z-index: 1;
            position: relative;
        }

        .user-account .avatar-layer .img-layer .change-image {
            width: 100px;
            height: 100px;
            line-height: 100px;
            text-align: center;
            font-size: 27px;
            color: #657d9a;
            background-color: rgba(228,235,245,0.4);
            position: absolute;
            z-index: 2;
            opacity: 0;
        }

        .user-account .avatar-layer .img-layer:hover .change-image {
            opacity: 1;
        }

    .user-account .avatar-layer .detail {
        width: 100%;
        padding: 10px 0 15px;
        text-align: center;
    }

        .user-account .avatar-layer .detail h3 {
            font-size: 14px;
            font-weight: bold;
            word-spacing: -1px;
            line-height: 25px;
            padding-bottom: 3px;
            color: #4b5b74
        }

        .user-account .avatar-layer .detail span {
            font-size: 14px;
            word-spacing: -1px;
            line-height: 25px;
            color: #7389a3;
            display: block;
        }

    .user-account aside > section header {
        padding: 5px 15px;
        border-bottom: 1px solid #ecf1f8
    }

        .user-account aside > section header h3 {
            font-size: 15px;
            line-height: 35px;
        }

    .user-account aside > section .inner {
        padding: 10px 15px
    }

        .user-account aside > section .inner ul li a {
            display: block;
            font-size: 14px;
            line-height: 25px;
            padding: 4px 0;
            color: #222
        }

            .user-account aside > section .inner ul li a:hover {
                color: #0ab6fa
            }

.user-account .user-account-content {
    border: 1px solid #ecf1f8;
    margin-bottom: 25px;
    background-color: #fff;
}

    .user-account .user-account-content > header {
        padding: 5px 15px;
        border-bottom: 1px solid #ecf1f8
    }

        .user-account .user-account-content > header h1 {
            font-size: 15px;
            line-height: 35px;
        }

    .user-account .user-account-content .inner {
        padding: 20px
    }

        .user-account .user-account-content .inner .account-information h3 {
            font-size: 17px;
            margin-bottom: 10px;
            color: #242323
        }

        .user-account .user-account-content .inner .account-information ul li {
            display: block;
            font-size: 14px;
            line-height: 25px;
            padding: 4px 0;
            color: #222
        }

            .user-account .user-account-content .inner .account-information ul li i {
                margin-left: 5px;
                position: relative;
                top: 3px;
                font-size: 16px;
                color: #ccc
            }

.user-account .form-layer {
    padding: 0 20px
}

    .user-account .form-layer .input-group {
        margin-bottom: 15px
    }

    .user-account .form-layer .link {
        padding: 15px 0
    }

        .user-account .form-layer .link a {
            display: block;
            line-height: 30px;
            font-size: 14px;
            color: #1CBDF9
        }

            .user-account .form-layer .link a:hover {
                color: #2C373B
            }

            .user-account .form-layer .link a i {
                font-size: 17px;
                margin-left: 5px;
                position: relative;
                top: 2px
            }

    .user-account .form-layer .checkbox-layer {
        margin-top: 10px
    }

        .user-account .form-layer .checkbox-layer input[type="checkbox"],
        .user-account .form-layer .radio-layer input[type="radio"] {
            position: relative;
            top: 2px;
            margin-left: 5px
        }

        .user-account .form-layer .checkbox-layer label,
        .user-account .form-layer .radio-layer label {
            margin-left: 25px
        }
